.search-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-box input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    transition: width 0.3s ease;
}

.search-box input:focus {
    width: 300px;
}

.suggestions {
    position: absolute;
    top: 25px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    margin-left: -5px;
    padding-left: 9px;
}

.suggestions li {
    padding: 8px;
    cursor: pointer;
    list-style-type: none;
    border-bottom: 1px solid #eee;
    color: #000;
}

.suggestions li:hover {
    background-color: #f5f5f5;
}

@media (max-width: 768px) {
    .search-box input {
        width: 100%;
    }

    .suggestions {
        width: 100%;
    }
}